{% extends "base.html" %}

{% block content %}
<h1>Movies</h1>
<form method="get" class="mb-3">
  <div class="row g-2 align-items-center">
    <div class="col-auto">
      <label class="col-form-label">Sort by:</label>
    </div>

    <div class="col-auto">
      <select name="sort" class="form-select" onchange="this.form.submit()">
        <option value="title" {% if sort == "title" %}selected{% endif %}>Title</option>
        <option value="genre" {% if sort == "genre" %}selected{% endif %}>Genre</option>
        <option value="price" {% if sort == "price" %}selected{% endif %}>Price</option>
      </select>
    </div>

    <div class="col-auto">
      <select name="dir" class="form-select" onchange="this.form.submit()">
        <option value="asc" {% if direction == "asc" %}selected{% endif %}>Ascending</option>
        <option value="desc" {% if direction == "desc" %}selected{% endif %}>Descending</option>
      </select>
    </div>
  </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <td>
   		 <a href="{% url 'movie_detail' movie.pk %}">
     			 {{ movie.title }}
  		 </a>
	    </td>
            <td>{{ movie.genre.name }}</td>
            <td>${{ movie.daily_rental_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
